@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffff00;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #ffff00;
}

a:visited {
  color: #ffff00;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffff00;
}
